<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="row">
            <div class="navbar-header col-sm-3 col-sm-offset-5">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="../../../">Projet Django</a>
            </div>
          </div>
          <div class="row">
            <div id="navbar" class="navbar-collapse collapse col-sm-12 col-md-12">
              <ul class="nav navbar-nav">
                <li><a href="../../../entreprises">Entreprises</a></li>
                <li><a href="../../../contacts">Contacts</a></li>
                <li><a href="../../../taxe/ajouter">Taxe</a></li>
                <li><a href="../../../entreprises/itineraire">Itinéraire</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    {% block content %}{% endblock %}
    <footer>
      <div class="container-fluid">
        <div class="row">
          <p>Site crée par Pierre Planque et Sophie Moreau</p>
        </div>
      </div>
    </footer>
    <script src="/static/js/jquery.min.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap-select.min.js" charset="utf-8"></script>
    <script src="/static/js/custom.js" charset="utf-8"></script>
    </script>
  </body>
</html>
