{% extends "lesCompagnies/baseLayout.html" %}
{% block title %} Liste des contacts {% endblock title %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="well well-lg col-sm-8 col-sm-offset-2">
      <div class="headerBloc headerBloc">
        <h1>Les contacts</h1>
      </div>
      <div id="boite">
        <form class="form-inline" action=""  method="post">
          <div class="form-group">
            {% csrf_token %}
            {% for field in form %}
             <label class="control-label" for="{{ field.name }}">{{ field.label }}</label> {{ field }}
             {% endfor %}
             <input type="submit" class="form-control bleu" value="Rechercher">
          </div>
        </form>
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th class="text-center">Nom de l'entreprise</th>
              <th class="text-center">Nom du contact</th>
              <th class="text-center">Email du contact</th>
              <th class="text-center">Libellé du contact</th>
              <th class="text-center">Consultation</th>
            </tr>
          </thead>
          <tbody>
            {% for contact in contacts %}
            <tr class="text-center">
              <td>{{contact.entrepriseContact.nom}}</td>
              <td>{{contact.nomContact}}</td>
              <td>{{contact.emailContact}}</td>
              <td>{{contact.libelleContact}}</td>
              <td>
                <a href="entreprise/{{contact.entrepriseContact.id}}" class="btn icones">
                  <span class='glyphicon glyphicon-eye-open' aria-hidden='true'></span>
                </a>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="text-center">
          <a href="../contact/ajouter" class="btn bleu">Ajouter un contact</a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="col-xs-6 col-xs-offset-3 ">
      <ul class="pagination pagination-lg">
        {% if contacts.has_previous %}
        <li>
          <a href="?page=1">
            <span aria-hidden="true">&laquo; Début</span>
          </a>
        </li>
        {% else %}
          <li class="disabled"><a aria-label="Next"><span aria-hidden="true">&laquo; Début</span></a></li>
        {% endif %}
        {% if contacts.has_previous %}
        <li>
          <a href="?page={{ contacts.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %}
          <li class="disabled"><a aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        {% endif %}
        {% if contacts.number|add:"-2" > 0 %}
        <li><a href="?page={{ contacts.number|add:'-2' }}">{{ contacts.number|add:'-2' }}</a></li>
        {% else %}
        {% endif %}
        {% if contacts.number|add:"-1" > 0 %}
        <li><a href="?page={{ contacts.number|add:'-1' }}">{{ contacts.number|add:'-1' }}</a></li>
        {% else %}
        {% endif %}
        <li class="active"><a href="?page={{ contacts.number }}">{{ contacts.number }}</a></li>
        {% if contacts.number|add:"+1" <= contacts.paginator.num_pages %}
        <li><a href="?page={{ contacts.number|add:'+1' }}">{{ contacts.number|add:'+1' }}</a></li>
        {% else %}
        {% endif %}
        {% if contacts.number|add:"+2" <= contacts.paginator.num_pages %}
        <li><a href="?page={{ contacts.number|add:'+2' }}">{{ contacts.number|add:'+2' }}</a></li>
        {% else %}
        {% endif %}
        {% if contacts.has_next %}
        <li>
          <a href="?page={{ contacts.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% else %}
          <li class="disabled"><a aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        {% endif %}
        {% if contacts.has_next %}
        <li>
          <a href="?page={{ contacts.paginator.num_pages }}">
            <span aria-hidden="true">&raquo; Fin</span>
          </a>
        </li>
        {% else %}
          <li class="disabled"><a aria-label="Next"><span aria-hidden="true">&raquo; Fin</span></a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
