{% extends "lesCompagnies/baseLayout.html" %}
{% block title %} Liste des entreprises {% endblock title %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="well well-lg col-sm-10 col-sm-offset-1">
      <div class="headerBloc">
        <h1>Les compagnies</h1>
      </div>
      <div id="boite">
        <form class="form-inline" action=""  method="post">
          <div class="form-group">
            {% csrf_token %}
            {% for field in form %}
             <label class="control-label" for="{{ field.name }}">{{ field.label }}</label> {{ field }}
             {% endfor %}
             <input type="submit" class="form-control bleu" value="Rechercher">
          </div>
        </form>
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th class="text-center">Nom de l'entreprise</th>
              <th class="text-center">Ville</th>
              <th class="text-center">Adresse</th>
              <th class="text-center">Code postal</th>
              <th class="text-center">Pays</th>
              <th class="text-center">Téléphone</th>
              <th class="text-center">Gestion</th>
            </tr>
          </thead>
          <tbody>
            {% for entreprise in entreprises %}
            <tr class="text-center">
              <td>{{entreprise.nom}}</td>
              <td>{{entreprise.ville}}</td>
              <td>{{entreprise.adresse}}</td>
              <td>{{entreprise.codePostal}}</td>
              <td>{{entreprise.pays}}</td>
              <td>{{entreprise.telephone}}</td>
              <td>
                <a href="entreprise/{{entreprise.id}}" class="btn btnGestion icones">
                  <span class='glyphicon glyphicon-eye-open' aria-hidden='true'></span>
                </a>
                <a href="entreprise/modifier/{{entreprise.id}}" class="btn btnGestion icones">
                  <span class='glyphicon glyphicon-pencil' aria-hidden='true'></span>
                </a>
                <a href="entreprise/supprimer/{{entreprise.id}}" class="btn btnGestion icones">
                  <span class='glyphicon glyphicon-trash' aria-hidden='true'></span>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="text-center">
          <a href="../entreprise/ajouter" class="btn bleu">Ajouter une entreprise</a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="col-xs-6 col-xs-offset-3 ">
      <ul class="pagination pagination-lg">
        {% if entreprises.has_previous %}
        <li>
          <a href="?page=1">
            <span aria-hidden="true">&laquo; Début</span>
          </a>
        </li>
        {% else %}
          <li class="disabled"><a aria-label="Next"><span aria-hidden="true">&laquo; Début</span></a></li>
        {% endif %}
        {% if entreprises.has_previous %}
        <li>
          <a href="?page={{ entreprises.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %}
          <li class="disabled"><a aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        {% endif %}
        {% if entreprises.number|add:"-2" > 0 %}
        <li><a href="?page={{ entreprises.number|add:'-2' }}">{{ entreprises.number|add:'-2' }}</a></li>
        {% else %}
        {% endif %}
        {% if entreprises.number|add:"-1" > 0 %}
        <li><a href="?page={{ entreprises.number|add:'-1' }}">{{ entreprises.number|add:'-1' }}</a></li>
        {% else %}
        {% endif %}
        <li class="active"><a href="?page={{ entreprises.number }}">{{ entreprises.number }}</a></li>
        {% if entreprises.number|add:"+1" <= entreprises.paginator.num_pages %}
        <li><a href="?page={{ entreprises.number|add:'+1' }}">{{ entreprises.number|add:'+1' }}</a></li>
        {% else %}
        {% endif %}
        {% if entreprises.number|add:"+2" <= entreprises.paginator.num_pages %}
        <li><a href="?page={{ entreprises.number|add:'+2' }}">{{ entreprises.number|add:'+2' }}</a></li>
        {% else %}
        {% endif %}
        {% if entreprises.has_next %}
        <li>
          <a href="?page={{ entreprises.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% else %}
          <li class="disabled"><a aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        {% endif %}
        {% if entreprises.has_next %}
        <li>
          <a href="?page={{ entreprises.paginator.num_pages }}">
            <span aria-hidden="true">&raquo; Fin</span>
          </a>
        </li>
        {% else %}
          <li class="disabled"><a aria-label="Next"><span aria-hidden="true">&raquo; Fin</span></a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
