{% extends "lesCompagnies/baseLayout.html" %}
{% block title %} Carte avec un itinéraire  {% endblock title %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 well well-lg">
      <div class="headerBloc">
        <h1>Itinéraire</h1>
      </div>
      <div id="boite">
        <form action="" class="form-horizontal" method="post">
          <fieldset>
            <div class="form-group">
              <label for="departEntreprise">Départ</label>
              <select id="departEntreprise" name="departEntreprise" class="selectpicker form-control" data-live-search="true">
                <option value="47.8435487,1.927819799999952">IUT Informatique Orléans</option>
                {% for entreprise in entreprises %}
                <option value="{{entreprise.latitude}},{{entreprise.longitude}}">{{entreprise.nom}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="arriveeEntreprise">Arrivée</label>
              <select id="arriveeEntreprise"  name="arriveeEntreprise" class="selectpicker form-control" data-live-search="true">
                <option value=""> </option>
                {% for entreprise in entreprises %}
                <option value="{{entreprise.latitude}},{{entreprise.longitude}}">{{entreprise.nom}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="nombreKilometre">Rayon des entreprises à proximité (en km)</label>
              <select id="nombreKilometre"  name="nombreKilometre" class="selectpicker form-control" data-live-search="true">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
              </select>
            </div>
            <div class="form-group">
              <label for="nombreEntreprise">Nombre d'entreprises maximum à proximité à afficher</label>
              <select id="nombreEntreprise"  name="nombreEntreprise" class="selectpicker form-control" data-live-search="true">
                <option value="0">0</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
              </select>
            </div>
          </fieldset>
        </form>
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBMqq7VeBB8hMLam7TaKsJmj4oU_OvkA88&callback=initMap"></script>
<script>
function initMap() {
  var directionsService = new google.maps.DirectionsService;
  var directionsDisplay = new google.maps.DirectionsRenderer({
    draggable: true,
    map: map,
    panel: document.getElementById('right-panel')
  });
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 5,
    center: {lat: 46.227638, lng: 2.213749000000007}
  });
  directionsDisplay.setMap(map);
  document.getElementById('departEntreprise').addEventListener('change', changementEntreprise);
  document.getElementById('arriveeEntreprise').addEventListener('change', changementEntreprise);
  document.getElementById('nombreKilometre').addEventListener('change', changementEntreprise);
  document.getElementById('nombreEntreprise').addEventListener('change', changementEntreprise);

  function changementEntreprise() {
    if(document.getElementById('arriveeEntreprise').value != ""){
      calculateAndDisplayRoute(directionsService, directionsDisplay);
    }
  }
}
// Fonction de comparaison pour savoir si une entreprise est compris dans le rayon de l'entreprise selectectionné
function procheAvecRayon(entrepriseCheck, entrepriseSelectionne, kilometre) {
  var ky = 40000 / 360;
  var kx = Math.cos(Math.PI * entrepriseSelectionne.lat / 180.0) * ky;
  var dx = Math.abs(entrepriseSelectionne.lng - entrepriseCheck.lng) * kx;
  var dy = Math.abs(entrepriseSelectionne.lat - entrepriseCheck.lat) * ky;
  return Math.sqrt(dx * dx + dy * dy) <= kilometre;
}

function calculateAndDisplayRoute(directionsService, directionsDisplay) {
  directionsService.route({
    origin: document.getElementById('departEntreprise').value,
    destination: document.getElementById('arriveeEntreprise').value,
    waypoints: entreprisesProche(),
    travelMode: google.maps.TravelMode.DRIVING
  }, function(response, status) {
    if (status === google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
    else{
      alert("L'entreprise que vous avez selectionné est impossible d'accès en voiture.")
    }
  });
}
// Va chercher en fonction d'un ryaon les entreprises les plus proches
function entreprisesProche(){
  var route = Array();
  var arriveeEntreprise = document.getElementById('arriveeEntreprise').value;
  var arriveeEntreprise = {lat: arriveeEntreprise.split(",").slice(0,1), lng:arriveeEntreprise.split(",").slice(1)};
  var nombreKilometre = document.getElementById('nombreKilometre').value
  var nombreEntreprise = document.getElementById('nombreEntreprise').value
  {% for entreprise in entreprises %}
    if(procheAvecRayon({lat: {{entreprise.latitude}}, lng: {{entreprise.longitude}}}, arriveeEntreprise, nombreKilometre) && route.length<nombreEntreprise){
      latitude={{entreprise.latitude}};
      longitude={{entreprise.longitude}};
      route.push({
        location: new google.maps.LatLng(latitude,longitude),
        stopover: true
      })
    }
  {% endfor %}
  return route;
}

</script>
{% endblock content %}
