{% extends "lesCompagnies/baseLayout.html" %}
{% block title %} Modifier une taxe {% endblock title %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well well-lg">
      <div class="headerBloc">
        <h1>Les compagniesModification de la taxe :</h1>
      </div>
      <div id="boite">
        <form action="" method="POST">
          <fieldset>
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
              </div>
            {% endfor %}
            <div class="text-center">
              <input type="submit" class="btn bleu">
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
