{% extends "lesCompagnies/baseLayout.html" %}
{% block title %} Accueil {% endblock title %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 map">
      <div class="headerBloc2">
        <h1>Map</h1>
      </div>
      <div id="mapAccueil"></div>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMqq7VeBB8hMLam7TaKsJmj4oU_OvkA88&callback=initMap"></script>
      <script type="text/javascript">
        var map;
        function initMap() {
          var map = new google.maps.Map(document.getElementById('mapAccueil'), {
            center: {lat: {{ latitude }}, lng: {{ longitude }}},
            zoom: 5,
            maxZoom: 25
          });
          {% for entreprise in entreprises %}
          var point = new google.maps.LatLng({{entreprise.latitude}},{{entreprise.longitude}});
            marker = new google.maps.Marker({
            map: map,
            position: point,
            animation: google.maps.Animation.DROP
            });
            marker.addListener('click', toggleBounce);
            marker.setMap(map);
          
            console.log({{entreprise.latitude}});
          {% endfor %}

        }

        function toggleBounce() {
          if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
          } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
          }
        }
      </script>
    </div>
    <div class="col-sm-offset-1 col-sm-3 actualite">
      <div class="headerBloc2">
        <h3>Dernières entreprises</h3>
      </div>
      <div class="blocEntr">
        <ul>
          {% for entreprise in entreprises %}
            <li><a href="entreprise/{{entreprise.id}}" class="nomEntre">
              {{entreprise.nom}}
            </a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
