{% extends "lesCompagnies/baseLayout.html" %}
{% block title %} {{entreprise.nom}} {% endblock title %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 well well-lg">
        <div class="text-center">
          <h1>Mail pour l'entreprise {{entreprise.nom}}</h1>
        </div>
        <div class="row">
          <div>
            Bonjour,</br>
            Votre entreprise {{entreprise.nom}}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
